<div class="flex flex-col gap-2" cdkDropList [cdkDropListDisabled]="readOnly()" (cdkDropListDropped)="drop($event)">
  @for (ctrl of array().controls; track ctrl; let i = $index) {
    <div
      class="flex items-center gap-2"
      [class.repeater-divided]="divided() && i > 0"
      cdkDrag
      animate.enter="anim-enter"
    >
      <div class="min-w-0 flex-1">
        <ng-container
          *ngTemplateOutlet="rowTemplate(); context: { $implicit: ctrl, index: i }"
        ></ng-container>
      </div>

      @if (!readOnly()) {
        <button
          type="button"
          class="row-action--danger"
          (click)="remove(i)"
          [attr.aria-label]="'Eliminar ' + itemName() + ' ' + (i + 1)"
        >
          <svg lucideTrash2 class="size-4" aria-hidden="true"></svg>
        </button>
        <button
          type="button"
          cdkDragHandle
          class="row-action--grab"
          (keydown)="onHandleKeydown($event, i)"
          [attr.aria-label]="'Reordenar ' + itemName() + ' ' + (i + 1) + ' (↑/↓ para mover)'"
        >
          <svg lucideGripVertical class="size-4" aria-hidden="true"></svg>
        </button>
      }
    </div>
  } @empty {
    <p
      class="rounded-lg border border-dashed border-surface-300 px-4 py-6 text-center text-sm text-surface-500 dark:border-surface-700 dark:text-surface-400"
    >
      Sin elementos todavía.
    </p>
  }

  @if (!readOnly()) {
    <button type="button" class="link-action self-start" (click)="add.emit()">
      <svg lucidePlus class="size-4" aria-hidden="true"></svg>
      {{ addLabel() }}
    </button>
  }
</div>
