@switch (icon()) {
  @case ('wrench') {
    <svg lucideWrench [class]="svgClass()" aria-hidden="true"></svg>
  }
  @case ('snowflake') {
    <svg lucideSnowflake [class]="svgClass()" aria-hidden="true"></svg>
  }
  @case ('thermometer') {
    <svg lucideThermometer [class]="svgClass()" aria-hidden="true"></svg>
  }
  @case ('fan') {
    <svg lucideFan [class]="svgClass()" aria-hidden="true"></svg>
  }
  @case ('flame') {
    <svg lucideFlame [class]="svgClass()" aria-hidden="true"></svg>
  }
  @case ('droplets') {
    <svg lucideDroplets [class]="svgClass()" aria-hidden="true"></svg>
  }
  @case ('gauge') {
    <svg lucideGauge [class]="svgClass()" aria-hidden="true"></svg>
  }
  @case ('zap') {
    <svg lucideZap [class]="svgClass()" aria-hidden="true"></svg>
  }
  @case ('settings') {
    <svg lucideSettings [class]="svgClass()" aria-hidden="true"></svg>
  }
  @case ('truck') {
    <svg lucideTruck [class]="svgClass()" aria-hidden="true"></svg>
  }
  @case ('package') {
    <svg lucidePackage [class]="svgClass()" aria-hidden="true"></svg>
  }
  @case ('shield-check') {
    <svg lucideShieldCheck [class]="svgClass()" aria-hidden="true"></svg>
  }
}
