<div class="min-h-screen flex items-center justify-center bg-surface p-4">
    <div #pdfContent>
        <form [formGroup]="reportForm">
            <div *ngIf="report" class="max-w-4xl mx-auto p-6 bg-white rounded-lg shadow-md space-y-6">
                <h2 class="text-2xl font-bold text-gray-800 mb-4">
                    Detalle del Reporte <span class="text-primary">{{ report.id }}</span>
                </h2>

                <!-- Información del cliente -->
                <div *ngIf="customer" class="bg-gray-50 p-4 rounded-lg shadow-inner">
                    <h3 class="text-lg font-bold text-gray-800 mb-2">Información del Cliente</h3>
                    <p><span class="font-semibold">Nombre:</span> {{ customer.name }}</p>
                    <p><span class="font-semibold">Identificación:</span> {{ customer.identification }}</p>
                    <p><span class="font-semibold">Teléfono:</span> {{ customer.phone }}</p>
                    <p><span class="font-semibold">Email:</span> {{ customer.email }}</p>
                </div>

                <!-- Información del reporte -->
                <div class="bg-gray-50 p-4 rounded-lg shadow-inner flex flex-col space-y-4">
                    <h3 class="text-lg font-bold text-gray-800 mb-2">Información de las actividades</h3>
                    <div>
                        <p><span class="font-semibold">Tipo:</span> {{ report.manttio_type }}</p>
                        <p><span class="font-semibold">Usuario ID:</span> {{ reportUser?.name }}</p>
                        <p><span class="font-semibold">Fecha:</span> {{ report.date_arrival | date:'mediumDate'
                            }}
                        </p>
                        <div *ngIf="!editMode">
                            <p><span class="font-semibold">Fecha de llegada:</span> {{ report.date_arrival |
                                date:'medium' }}</p>
                            <p><span class="font-semibold">Fecha de salida:</span> {{ report.date_departure |
                                date:'medium' }}</p>
                        </div>
                        <div *ngIf="editMode" class="grid grid-cols-1 md:grid-cols-2 gap-4">
                            <label class="block font-semibold">Fecha de llegada</label>
                            <input type="datetime-local" formControlName="date_arrival"
                                class="border rounded px-2 py-1" />

                            <label class="block font-semibold">Fecha de salida</label>
                            <input type="datetime-local" formControlName="date_departure"
                                class="border rounded px-2 py-1" />
                        </div>
                    </div>
                    <!--Informacion-->

                </div>

                <div *ngIf="report.report_type === 'minisplit'"
                    class="bg-gray-50 p-4 rounded-lg shadow-inner space-y-4">
                    <h3 class="text-lg font-bold text-gray-800 mb-4 text-start">Mantenimiento minisplit</h3>

                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                        <!-- Equipo operando -->
                        <div *ngIf="!editMode">
                            <p>
                                <span class="font-semibold">Equipo se encuentra operando:</span>
                                <span
                                    [class]="report.is_operating ? 'text-green-600 font-semibold' : 'text-red-600 font-semibold'">
                                    {{ report.is_operating ? 'Sí' : 'No' }}
                                </span>
                            </p>
                        </div>
                        <div *ngIf="editMode">
                            <label class="block font-semibold">Equipo se encuentra operando</label>
                            <input type="checkbox" formControlName="is_operating" />
                        </div>

                        <!-- Control remoto -->
                        <div *ngIf="!editMode">
                            <p>
                                <span class="font-semibold">Control remoto funcionando:</span>
                                <span
                                    [class]="report.remote_working ? 'text-green-600 font-semibold' : 'text-red-600 font-semibold'">
                                    {{ report.remote_working ? 'Sí' : 'No' }}
                                </span>
                            </p>
                        </div>
                        <div *ngIf="editMode">
                            <label class="block font-semibold">Control remoto funcionando</label>
                            <input type="checkbox" formControlName="remote_working" />
                        </div>

                        <!-- Amperaje -->
                        <div *ngIf="!editMode">
                            <p><span class="font-semibold">Amperaje:</span> {{ report.amperage }}</p>
                        </div>
                        <div *ngIf="editMode">
                            <label class="block font-semibold">Amperaje</label>
                            <input type="number" formControlName="amperage" class="border rounded px-2 py-1 w-full" />
                        </div>

                        <!-- Voltaje interno -->
                        <div *ngIf="!editMode">
                            <p><span class="font-semibold">Voltaje interno:</span> {{ report.inner_voltage }}</p>
                        </div>
                        <div *ngIf="editMode">
                            <label class="block font-semibold">Voltaje interno</label>
                            <input type="number" formControlName="inner_voltage"
                                class="border rounded px-2 py-1 w-full" />
                        </div>

                        <!-- Ruido inusual -->
                        <div *ngIf="!editMode">
                            <p>
                                <span class="font-semibold">Ruido inusual:</span>
                                <span
                                    [class]="report.unusual_noise ? 'text-green-600 font-semibold' : 'text-red-600 font-semibold'">
                                    {{ report.unusual_noise ? 'Sí' : 'No' }}
                                </span>
                            </p>
                        </div>
                        <div *ngIf="editMode">
                            <label class="block font-semibold">Ruido inusual</label>
                            <input type="checkbox" formControlName="unusual_noise" />
                        </div>
                    </div>
                </div>

                <!--CHILLER-->

                <div *ngIf="report.report_type === 'chiller'" class="bg-gray-50 p-4 rounded-lg shadow-inner space-y-4">
                    <h3 class="text-lg font-bold text-gray-800 mb-4 text-start">Mantenimiento Chiller</h3>

                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                        <!-- Está operando -->
                        <div *ngIf="!editMode">
                            <p>
                                <span class="font-semibold">¿Está operando?:</span>
                                <span
                                    [class]="report.is_operating ? 'text-green-600 font-semibold' : 'text-red-600 font-semibold'">
                                    {{ report.is_operating ? 'Sí' : 'No' }}
                                </span>
                            </p>
                        </div>
                        <div *ngIf="editMode">
                            <label class="block font-semibold">¿Está operando?</label>
                            <input type="checkbox" formControlName="is_operating" />
                        </div>

                        <!-- Temperatura entrada -->
                        <div *ngIf="!editMode">
                            <p><span class="font-semibold">Temperatura entrada:</span> {{ report.inner_temperature }}
                            </p>
                        </div>
                        <div *ngIf="editMode">
                            <label class="block font-semibold">Temperatura entrada</label>
                            <input type="number" formControlName="inner_temperature"
                                class="border rounded px-2 py-1 w-full" />
                        </div>

                        <!-- Temperatura salida -->
                        <div *ngIf="!editMode">
                            <p><span class="font-semibold">Temperatura salida:</span> {{ report.outer_temperature }}</p>
                        </div>
                        <div *ngIf="editMode">
                            <label class="block font-semibold">Temperatura salida</label>
                            <input type="number" formControlName="outer_temperature"
                                class="border rounded px-2 py-1 w-full" />
                        </div>

                        <!-- Voltaje interno -->
                        <div *ngIf="!editMode">
                            <p><span class="font-semibold">Voltaje interno:</span> {{ report.inner_voltage }}</p>
                        </div>
                        <div *ngIf="editMode">
                            <label class="block font-semibold">Voltaje interno</label>
                            <input type="number" formControlName="inner_voltage"
                                class="border rounded px-2 py-1 w-full" />
                        </div>

                        <!-- PLC funcionando -->
                        <div *ngIf="!editMode">
                            <p>
                                <span class="font-semibold">PLC funcionando:</span>
                                <span
                                    [class]="report.plc_keys_working ? 'text-green-600 font-semibold' : 'text-red-600 font-semibold'">
                                    {{ report.plc_keys_working ? 'Sí' : 'No' }}
                                </span>
                            </p>
                        </div>
                        <div *ngIf="editMode">
                            <label class="block font-semibold">PLC funcionando</label>
                            <input type="checkbox" formControlName="plc_keys_working" />
                        </div>

                        <!-- Amperaje motor -->
                        <div *ngIf="!editMode">
                            <p><span class="font-semibold">Amperaje motor:</span> {{ report.motor_amperage }}</p>
                        </div>
                        <div *ngIf="editMode">
                            <label class="block font-semibold">Amperaje motor</label>
                            <input type="number" formControlName="motor_amperage"
                                class="border rounded px-2 py-1 w-full" />
                        </div>

                        <!-- Presión sistema 1 -->
                        <div *ngIf="!editMode">
                            <p><span class="font-semibold">Presión sistema 1:</span> {{ report.system_pressure_1 }}</p>
                        </div>
                        <div *ngIf="editMode">
                            <label class="block font-semibold">Presión sistema 1</label>
                            <input type="number" formControlName="system_pressure_1"
                                class="border rounded px-2 py-1 w-full" />
                        </div>

                        <!-- Presión sistema 2 -->
                        <div *ngIf="!editMode">
                            <p><span class="font-semibold">Presión sistema 2:</span> {{ report.system_pressure_2 }}</p>
                        </div>
                        <div *ngIf="editMode">
                            <label class="block font-semibold">Presión sistema 2</label>
                            <input type="number" formControlName="system_pressure_2"
                                class="border rounded px-2 py-1 w-full" />
                        </div>

                        <!-- Presión sistema 3 -->
                        <div *ngIf="!editMode">
                            <p><span class="font-semibold">Presión sistema 3:</span> {{ report.system_pressure_3 }}</p>
                        </div>
                        <div *ngIf="editMode">
                            <label class="block font-semibold">Presión sistema 3</label>
                            <input type="number" formControlName="system_pressure_3"
                                class="border rounded px-2 py-1 w-full" />
                        </div>

                        <!-- Presión aceite -->
                        <div *ngIf="!editMode">
                            <p><span class="font-semibold">Presión aceite:</span> {{ report.oil_pressure }}</p>
                        </div>
                        <div *ngIf="editMode">
                            <label class="block font-semibold">Presión aceite</label>
                            <input type="number" formControlName="oil_pressure"
                                class="border rounded px-2 py-1 w-full" />
                        </div>

                        <!-- Nivel de aceite -->
                        <div *ngIf="!editMode">
                            <p><span class="font-semibold">Nivel de aceite:</span> {{ report.oil_level }}</p>
                        </div>
                        <div *ngIf="editMode">
                            <label class="block font-semibold">Nivel de aceite</label>
                            <input type="text" formControlName="oil_level" class="border rounded px-2 py-1 w-full" />
                        </div>

                        <!-- Switch de flujo funcionando -->
                        <div *ngIf="!editMode">
                            <p>
                                <span class="font-semibold">Switch de flujo funcionando:</span>
                                <span
                                    [class]="report.flux_switch_working ? 'text-green-600 font-semibold' : 'text-red-600 font-semibold'">
                                    {{ report.flux_switch_working ? 'Sí' : 'No' }}
                                </span>
                            </p>
                        </div>
                        <div *ngIf="editMode">
                            <label class="block font-semibold">Switch de flujo funcionando</label>
                            <input type="checkbox" formControlName="flux_switch_working" />
                        </div>

                        <!-- Ruido inusual -->
                        <div *ngIf="!editMode">
                            <p>
                                <span class="font-semibold">Ruido inusual:</span>
                                <span
                                    [class]="report.unusual_noise ? 'text-green-600 font-semibold' : 'text-red-600 font-semibold'">
                                    {{ report.unusual_noise ? 'Sí' : 'No' }}
                                </span>
                            </p>
                        </div>
                        <div *ngIf="editMode">
                            <label class="block font-semibold">Ruido inusual</label>
                            <input type="checkbox" formControlName="unusual_noise" />
                        </div>
                    </div>
                </div>

                <!--UMA-->
                <div *ngIf="report.report_type === 'uma'" class="bg-gray-50 p-4 rounded-lg shadow-inner space-y-4">
                    <h3 class="text-lg font-bold text-gray-800 mb-4 text-start">Mantenimiento UMA</h3>

                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                        <!-- Está operando -->
                        <div *ngIf="!editMode">
                            <p>
                                <span class="font-semibold">¿Está operando?:</span>
                                <span
                                    [class]="report.is_operating ? 'text-green-600 font-semibold' : 'text-red-600 font-semibold'">
                                    {{ report.is_operating ? 'Sí' : 'No' }}
                                </span>
                            </p>
                        </div>
                        <div *ngIf="editMode">
                            <label class="block font-semibold">¿Está operando?</label>
                            <input type="checkbox" formControlName="is_operating" />
                        </div>

                        <!-- Ajuste de banda -->
                        <div *ngIf="!editMode">
                            <p>
                                <span class="font-semibold">Ajuste de banda:</span>
                                <span
                                    [class]="report.air_band_adjustment ? 'text-green-600 font-semibold' : 'text-red-600 font-semibold'">
                                    {{ report.air_band_adjustment ? 'Sí' : 'No' }}
                                </span>
                            </p>
                        </div>
                        <div *ngIf="editMode">
                            <label class="block font-semibold">Ajuste de banda</label>
                            <input type="checkbox" formControlName="air_band_adjustment" />
                        </div>

                        <!-- Temperatura entrada -->
                        <div *ngIf="!editMode">
                            <p><span class="font-semibold">Temperatura entrada:</span> {{ report.inner_temperature }}
                            </p>
                        </div>
                        <div *ngIf="editMode">
                            <label class="block font-semibold">Temperatura entrada</label>
                            <input type="number" formControlName="inner_temperature"
                                class="border rounded px-2 py-1 w-full" />
                        </div>

                        <!-- Temperatura salida -->
                        <div *ngIf="!editMode">
                            <p><span class="font-semibold">Temperatura salida:</span> {{ report.outer_temperature }}</p>
                        </div>
                        <div *ngIf="editMode">
                            <label class="block font-semibold">Temperatura salida</label>
                            <input type="number" formControlName="outer_temperature"
                                class="border rounded px-2 py-1 w-full" />
                        </div>

                        <!-- Rejilla aire buena calidad -->
                        <div *ngIf="!editMode">
                            <p>
                                <span class="font-semibold">Rejilla aire en buenas condiciones:</span>
                                <span
                                    [class]="report.air_good_quality ? 'text-green-600 font-semibold' : 'text-red-600 font-semibold'">
                                    {{ report.air_good_quality ? 'Sí' : 'No' }}
                                </span>
                            </p>
                        </div>
                        <div *ngIf="editMode">
                            <label class="block font-semibold">Rejilla aire en buenas condiciones</label>
                            <input type="checkbox" formControlName="air_good_quality" />
                        </div>

                        <!-- Voltaje interno -->
                        <div *ngIf="!editMode">
                            <p><span class="font-semibold">Voltaje interno:</span> {{ report.inner_voltage }}</p>
                        </div>
                        <div *ngIf="editMode">
                            <label class="block font-semibold">Voltaje interno</label>
                            <input type="number" formControlName="inner_voltage"
                                class="border rounded px-2 py-1 w-full" />
                        </div>

                        <!-- Amperaje motor -->
                        <div *ngIf="!editMode">
                            <p><span class="font-semibold">Amperaje motor:</span> {{ report.motor_amperage }}</p>
                        </div>
                        <div *ngIf="editMode">
                            <label class="block font-semibold">Amperaje motor</label>
                            <input type="number" formControlName="motor_amperage"
                                class="border rounded px-2 py-1 w-full" />
                        </div>

                        <!-- Ruido inusual -->
                        <div *ngIf="!editMode">
                            <p>
                                <span class="font-semibold">Ruido inusual:</span>
                                <span
                                    [class]="report.unusual_noise ? 'text-green-600 font-semibold' : 'text-red-600 font-semibold'">
                                    {{ report.unusual_noise ? 'Sí' : 'No' }}
                                </span>
                            </p>
                        </div>
                        <div *ngIf="editMode">
                            <label class="block font-semibold">Ruido inusual</label>
                            <input type="checkbox" formControlName="unusual_noise" />
                        </div>
                    </div>
                </div>


                <!-- Observaciones -->
                <div *ngIf="!editMode" class="bg-gray-50 p-4 rounded-lg shadow-inner space-y-4">
                    <h3 class="font-semibold text-gray-800 mb-2">Observaciones</h3>
                    <p class="text-gray-600 whitespace-pre-line">{{ report.observations || 'Ninguna' }}</p>
                </div>

                <div *ngIf="editMode">
                    <label class="block font-semibold">Observaciones</label>
                    <textarea formControlName="observations" class="w-full border rounded p-2"></textarea>
                </div>

                <!-- Imágenes -->
                <div class="bg-gray-50 p-4 rounded-lg shadow-inner space-y-4">
                    <h3 class="font-semibold text-gray-800 mb-2">Imágenes</h3>
                    <div class="flex flex-wrap gap-4">
                        <img *ngFor="let pic of report.pictures" [src]="pic" alt="Imagen del reporte"
                            class="w-32 h-24 object-cover rounded border" />
                        <p *ngIf="!report.pictures || report.pictures.length === 0" class="text-gray-500">No hay
                            imágenes
                            disponibles.</p>
                    </div>
                </div>

                <!-- Firma -->
                <div class="bg-gray-50 p-4 rounded-lg shadow-inner space-y-4">
                    <h3 class="font-semibold text-gray-800 mb-2">Firma</h3>
                    <img *ngIf="report.signature" [src]="report.signature" alt="Firma"
                        class="w-48 h-auto border rounded" />
                    <p *ngIf="!report.signature" class="text-gray-500">No hay firma disponible.</p>
                </div>

            </div>



            <div class="flex justify-end gap-2 mt-4">
                <button (click)="downloadTextPDF()" class=" px-4 py-2 bg-blue-500 text-white rounded">
                    Descargar PDF
                </button>
                <button *ngIf="!editMode" (click)="toggleEdit()" class="px-4 py-2 bg-yellow-500 text-white rounded">
                    Editar
                </button>
                <button *ngIf="editMode" (click)="saveChanges()" class="px-4 py-2 bg-green-500 text-white rounded">
                    Guardar
                </button>
                <button *ngIf="editMode" (click)="toggleEdit()" class="px-4 py-2 bg-gray-500 text-white rounded">
                    Cancelar
                </button>


            </div>
        </form>
    </div>

</div>